/*------------------------------------------------------------------
	Alert Shortcode 
-------------------------------------------------------------------*/
.pbh_alert_block {
	display: block;
	margin-bottom: 32px;
	font-family: 'Raleway';
	font-size: 16px;
	line-height: 18px;
	position: relative;
	padding: 14px 45px 14px 53px;
	border-radius: 4px;
	// gutenberg compatibility
	.mce-content-body {
		line-height: inherit !important;
	}
	
	a:before, a:after {
		display: none;
	}
	
	.pbh-alert-dismiss, .pbh-alert-dismiss:hover, .pbh-alert-dismiss:active {
		right: 16px;
		width: 12px;
		height: 12px;
		text-decoration: none;
		box-shadow: none;
		outline: none;
	}
	
	.pbh-icon {
		left: 17px;
		width: 20px;
		height: 20px;
	}
	
	.pbh-alert-dismiss, .pbh-icon {
		top: 50%;
		transform: translateY(-50%);
		position: absolute;
		background-position: center center;
		background-repeat: no-repeat;
	}
}

.pbh_alert_block.pbh-alert-success {
	background-color: #d4eddb;
	color: #135629;
	border: 1px solid #85cc9b;
	
	.pbh-icon {
		background-image: url(../img/done.svg);
	}
	
	.pbh-alert-dismiss {
		background-image: url(../img/close_green.svg);
	}
}

.pbh_alert_block.pbh-alert-info {
	background-color: #cce6fd;
	color: #004382;
	border: 1px solid #6db7fb;
	
	.pbh-icon {
		background-image: url(../img/info.svg);
	}
	
	.pbh-alert-dismiss {
		background-image: url(../img/close_blue.svg);
	}
}

.pbh_alert_block.pbh-alert-warning {
	background-color: #fff2d0;
	color: #866318;
	border: 1px solid #ffdb7f;
	
	.pbh-icon {
		background-image: url(../img/message.svg);
	}
	
	.pbh-alert-dismiss {
		background-image: url(../img/close_yellow.svg);
	}
}

.pbh_alert_block.pbh-alert-danger {
	background-color: #fad7da;
	color: #741c24;
	border: 1px solid #ed8d97;
	
	.pbh-icon {
		background-image: url(../img/error.svg);
	}
	
	.pbh-alert-dismiss {
		background-image: url(../img/close_red.svg);
	}
}